<form #pform="ngForm" (ngSubmit)="processForm(pform)" fxLayout="column row" 
fxLayoutGap="10px">

  <mat-form-field>
        <input type="email" placeholder="Your email"
          #emailField="ngModel"
          name="email" ngModel matInput required email>
        <mat-hint>Your email</mat-hint>
        <mat-error *ngIf="emailField.hasError('email')">
          Must be a valid email
        </mat-error>
  </mat-form-field>

  <mat-form-field>
      <input type="password" placeholder="Your password"
        #password="ngModel"
        name="password" ngModel matInput pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required>
      <mat-hint>Minimum of 8 characters, and confirm to password policies [1 Uppercase, 1 Lowercase, and one of @, #, $ symbol].</mat-hint>
      <mat-error *ngIf="password.hasError('password')">
         Requires valid email!
      </mat-error>
      <mat-error *ngIf="(password.touched || isSubmitted)">
          Rejected as not conforming to password polices.
       </mat-error>
  </mat-form-field>

 <!--<mat-form-field>
      <input type="password" placeholder="Please enter again to confirm password"
        #confirmpassword="ngModel"
        name="confirmpassword" ngModel matInput class="form-control" pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required>
      <mat-hint>Confirmed Password</mat-hint>
      <div *ngIf="confirmpassword.dirty" [hidden]="!(model.confirmPassword != model.password)" class="help-block alert alert-danger">
          <span class="help-block alert alert-danger">
              Password do not match.
          </span>
  </div>      
  </mat-form-field>-->

  <mat-form-field>
    <input type="text" placeholder="Your name"
      #name="ngModel" name="name" ngModel matInput required minlength="2" maxlength="10">
    <mat-hint>Your official name</mat-hint>
  </mat-form-field>


  <div class="alert alert-danger">Your gender :</div>
    <mat-radio-group name="gender" ngModel fxLayoutGap='10px'> 
      <mat-radio-button value="female"> Female </mat-radio-button>
      <mat-radio-button value="male"> Male </mat-radio-button>
    </mat-radio-group> 


  <mat-form-field>
      <input name="dob" placeholder="Date of Birth" 
        ngModel matInput [matDatepicker]="mydate">
        <mat-hint>Date Format MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="mydate">
      </mat-datepicker-toggle>
    <mat-datepicker #mydate></mat-datepicker> 
  </mat-form-field> 

  <mat-form-field>
      <input type="text" placeholder="Your Corresponding Address"
      #address="ngModel"
      name="address" ngModel matInput required minlength="2" maxlength="100">
    <mat-hint>Home Address</mat-hint>
  </mat-form-field>

  <mat-form-field>
      <input type="text" placeholder="Country"
      #country="ngModel"
      name="country" ngModel matInput required minlength="2" maxlength="10">
    <mat-hint>Country</mat-hint>
  </mat-form-field>

  <!--
  <mat-form-field>
      <mat-select placeholder="Country">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let Country of Country" [value]="Country">{{Country}}</mat-option>
      </mat-select>
    </mat-form-field>
  -->
  <mat-form-field>
      <input type="text" placeholder="Contact Number"
      #phone="ngModel"
      name="phone" ngModel matInput required minlength="8" maxlength="14">
    <mat-hint>Contact Number</mat-hint>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px">
    <button type="reset" mat-button mat-raised-button color="primary">
      <mat-icon>clear</mat-icon> Clear 
    </button>
    <button type="submit" mat-button mat-raised-button color="warn"
        [disabled]="pform.invalid">
      <mat-icon>home</mat-icon> Add 
    </button>
  </div>


</form>